<div class="ui secondary pointing menu">
  <div class="ui container">
    <div class=" item">
      <%= link_to image_tag('aeromontazh_logo.png', width: '200px'), root_path, :class => 'logo' %>
    </div>
    <%= link_to 'Бризеры', brizer_index_path, :class => 'item' %>
    <%= link_to 'Magic Air', brizer_index_path, :class => 'item' %>
    <%= link_to 'Монтаж', brizer_index_path, :class => 'item' %>
    <%= link_to 'Очистители', brizer_index_path, :class => 'item' %>
    <%= link_to 'Алмазное бурение', brizer_index_path, :class => 'item' %>
    <%= link_to 'Контакты', brizer_index_path, :class => 'item' %>
  </div>
</div>
<script type="text/javascript">(function(w,doc) {
  if (!w.__utlWdgt ) {
    w.__utlWdgt = true;
    var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})(window,document);
</script>