<section class="top-menu">
  <div class="page">
    <div id="navigation">
      <ul>
        <a href="#l1"><li>проблема</li></a>
        <a href="#l2"><li>решение</li></a>
        <a href="#l3"><li>бризер тион о2</li></a>
        <a href="#l5"><li>кто пользуется</li></a>
        <a href="#why"><li>отличия</li></a>
        <a href="#l9"><li>для кого</li></a>
        <a href="#filters"><li>фильтры</li></a>
        <a href="#certificate"><li>сертификаты</li></a>
        <a href="#principe"><li>как устроен</li></a>
        <a href="#montazh"><li>монтаж</li></a>
      </ul>
    </div>
  </div>
</section>
<section class="head" id="toptop">
  <header>
    <div id="top" class="page">
      <div class="logo">
        <%= image_tag('aeromontazh_logo.png', width: "410px") %>
      </div>
      <div class="header_info">
        <br>
        Система очистки воздуха<br>
        в Новосибирске и области
      </div>
      <div class="call">
        +7 (383) 239-59-58<br>
        <a class="btn btn_call">Заказать обратный звонок</a>
      </div>
    </div>
  </header>
  <div class="page">
    <div class="head_banner">
      Забудьте про<br>открытые окна, шум,<br>грязь и сквозняки!
    </div>
    <h1>Система очистки воздуха<br>
      <span>Бризер Tion O<b>2</b> Standart</span></h1>
    <!--<h2><span>Всегда свежий воздух</span><br>-->
    <!--<span>без пыли, грязи и аллергенов.</span></h2>-->
    <!--<p class="hasTooltip">Акция! В честь 9-летия Тион!</p>-->


    <div class="sale_block">
      <span>Успейте купить до</span><br>
      повышения цен!
    </div>
    <!--<div id="qtip-0" class="hidden" style="z-index: 15001;">-->
    <!--<div id="qtip-0-content" class="qtip-content ui-widget-content" aria-atomic="true">-->
    <!--Нам исполнилось 9 лет! Поэтому до 1 сентября при заказе на сумму от 24 000 рублей мы дарим Вам Расширенную гарантию на 2 года на каждый прибор в заказе! Например: Tion O2 Standard + любой фильтр = Расширенная гарантия на 2 года.<br><br>-->
    <!--* Монтаж участвует в акции только при оплате наличными всего заказа: и прибора, и монтажа.-->
    <!--</div>-->
    <!--</div>-->
    <h4 class="actionEnd">До повышения цен осталось:</h4>
    <div id="getting-started"></div>
    <!--<a class="btn btn_to btn_popup_2">Вызвать <b>специалиста</b></a>-->
    <a href="#l1">
      <button id="buttonToMore" class="ui left attached button blue learnMoreButton">
        Узнать о бризере
        <i class="angle right icon" id="moreIcon"></i>
      </button>
    </a>
    <a href="/market" data-no-turbolink='true'>
      <button id='buttonToMarket' class="right attached ui button teal learnMoreButton">
        Заказать бризер
        <i class="add to cart icon float right" id="marketIcon"></i>
      </button>
    </a>
  </div>
</section>
<section class="window">
  <div class="page landingItem" id="l1">
    <h4>В помещении с закрытыми <br>окнами обычно нечем дышать</h4>
    <h4><span>Ради свежего воздуха <br>вы открываете окно</span></h4>
    <h4>Но вместе с воздухом <br>в квартиру попадают</h4>
    <div class="window">
      <ul class="wind1">
        <li class="li1"><%= image_tag('wind1-1.png') %><span>духота</span></li>
        <li class="li2"><%= image_tag('wind1-2.png') %><span>пыль</span></li>
        <li class="li3"><%= image_tag('wind1-3.png') %><span>неприятные<br>запахи</span></li>
        <li class="li4"><%= image_tag('wind1-4.png') %><span>углекислый<br>газ</span></li>
        <li class="li5"><%= image_tag('wind1-5.png') %><span>сырость</span></li>
      </ul>
      <ul class="wind2">
        <li class="li1"><%= image_tag('wind2-1.png') %><span>шум</span></li>
        <li class="li2"><%= image_tag('wind2-2.png') %><span>грязь</span></li>
        <li class="li3"><%= image_tag('wind2-3.png') %><span>аллергены</span></li>
        <li class="li4"><%= image_tag('wind2-4.png') %><span>неприятные<br>запахи</span></li>
        <li class="li5"><%= image_tag('wind2-5.png') %><span>выхлопные<br>газы</span></li>
        <li class="li6"><%= image_tag('wind2-6.png') %><span>сквозняки</span></li>
      </ul>
    </div>
    <h3>Жить в духоте с закрытыми окнами или<br>
      продолжать мучиться с постоянным проветриванием?</h3>
  </div>
</section>
<section class="decision">
  <div class="page landingItem" id="l2">
    <h3><span>Решение найдено!</span><br>
      Система очистки воздуха Бризер Tion O<b>2</b> Standart</h3>
    <ul class="decision">
      <li><%= image_tag('decision-1.jpg') %>Больше не надо<br>открывать окна</li>
      <li><%= image_tag('decision-2.jpg') %>Свежий и чистый воздух<br>в помещении круглый год</li>
      <li><%= image_tag('decision-3.jpg') %>Установка<br>за 90 минут</li>
      <li><%= image_tag('decision-4.jpg') %>Подходит для квартир,<br>домов и офисов</li>
    </ul>
    <a class="btn btn_white btn_popup_1">Хочу всегда дышать свежим воздухом!</a>
  </div>
</section>
<section class="about">
  <div class="page landingItem" id="l3">
    <h3>Бризер Tion O<b>2</b> Standart</h3>
    <ul class="about">
      <li class="li1">Подает свежий воздух внутрь помещения постоянно и в нужном объеме</li>
      <li class="li2">Очищает воздух от всех типов загрязнений трехступенчатой системой фильтрации</li>
      <li class="li3">Подогревает воздух до нужной температуры при помощи климат-контроля при необходимости</li>
      <li class="li4">Создает здоровый микроклимат внутри помещения</li>
    </ul>
    <a class="btn btn_more btn_popup_1">Узнать больше о бризере</a>
  </div>
</section>
<section class="spider">
  <section class="video">
    <div class="page" id="l4">
      <h3>Посмотрите за 40 секунд, как работает бризер</h3>
      <div class="video">
        <iframe width="950" height="470" src="https://www.youtube.com/embed/pyrxCQRsGwM?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <a class="btn btn_to btn_popup_4">Оставить заявку<br>на бесплатный выезд менеджера</a>
    </div>
  </section>
  <section class="clients">
    <div class="page" id="l5">
      <h3>Кто уже пользуется Бризером</h3>
      <ul class="clients">
        <li><%= image_tag('1.jpg') %></li>
        <li><%= image_tag('2.jpg') %></li>
        <li><%= image_tag('3.jpg') %></li>
        <li><%= image_tag('4.jpg') %></li>
        <li><%= image_tag('5.jpg') %></li>
        <li><%= image_tag('6.jpg') %></li>
        <li><%= image_tag('7.jpg') %></li>
        <li><%= image_tag('8.jpg') %></li>
        <li><%= image_tag('9.jpg') %></li>
        <li><%= image_tag('10.jpg') %></li>
        <li><%= image_tag('11.jpg') %></li>
        <li><%= image_tag('12.jpg') %></li>
        <li><%= image_tag('13.jpg') %></li>
        <li><%= image_tag('14.jpg') %></li>
        <li><%= image_tag('15.jpg') %></li>
      </ul>
    </div>
  </section>
  <section class="comments">
    <div class="page" id="l6">
      <h3>О Бризере на Телевидении</h3>
      <ul class="comments">
        <li>
          <iframe width="290" height="180" src="https://www.youtube.com/embed/FH-HDH-U30s?rel=0" frameborder="0" allowfullscreen></iframe>
          <div>
            <p><span>Хайтек</span> на канале Подмосковье<br>
              <i></i></p>
          </div>
        </li>
        <li>
          <iframe width="290" height="180" src="https://www.youtube.com/embed/KhomXaoDvH8?rel=0" frameborder="0" allowfullscreen></iframe>
          <div>
            <p><span>Бризер</span> в Школе ремонта<br>
              <i>Выпуск №6</i></p>
          </div>
        </li>
        <li>
          <iframe width="290" height="180" src="https://www.youtube.com/embed/PgjxHDQCKW4?rel=0" frameborder="0" allowfullscreen></iframe>
          <div>
            <p><span>Бризер</span> в Школе ремонта<br>
              <i>Выпуск №7</i></p>
          </div>
        </li>
      </ul>
      <a class="btn btn_to btn_popup_2">Заказать <br>обратный звонок</a>
    </div>
  </section>
</section>
<section class="why">
  <div id="why" class="page">
    <h3>В чем отличие бризера от других устройств?</h3>
    <ul class="why">
      <li>
        <%= image_tag('why-1.jpg') %>
        <p>Бризер</p>
        <ul>
          <li>Дает приток свежего воздуха</li>
          <li>Вентилирует помещение</li>
          <li>Избавляет от духоты</li>
          <li>Подогревает воздух</li>
          <li>Очищает воздух</li>
        </ul>
      </li>
      <li>
        <%= image_tag('why-2.jpg') %>
        <p>Кондиционер</p>
        <ul>
          <li>Только охлаждает воздух</li>
          <li class="empty"></li>
          <li class="empty"></li>
          <li class="empty"></li>
          <li class="empty"></li>
        </ul>
      </li>
      <li>
        <%= image_tag('why-3.jpg') %>
        <p>Увлажнитель</p>
        <ul>
          <li>Только увлажняет воздух</li>
          <li class="empty"></li>
          <li class="empty"></li>
          <li class="empty"></li>
          <li class="empty"></li>
        </ul>
      </li>
      <li>
        <%= image_tag('why-4.jpg') %>
        <p>Очиститель</p>
        <ul>
          <li>Только очищает воздух</li>
          <li class="empty"></li>
          <li class="empty"></li>
          <li class="empty"></li>
          <li class="empty"></li>
        </ul>
      </li>
    </ul>
    <a class="btn btn_white btn_popup_1">Хочу всегда дышать свежим воздухом!</a>
  </div>
</section>
<section class="why2">
  <div class="page" id="l8">
    <h3>Еще несколько преимуществ бризера</h3>
    <ul class="why2">
      <li><%= image_tag('why2-1.png') %>Не требует согласования<br>на установку</li>
      <li><%= image_tag('why2-2.png') %>Небольшое потребление<br>электроэнергии</li>
      <li><%= image_tag('why2-3.png') %>Замена фильтров<br>в среднем 1 раз в год</li>
      <li class="alt line2">Срок службы<br><span>5 лет</span></li>
      <li class="line2"><%= image_tag('why2-5.png') %>Минимальный<br>уровень шума</li>
      <li class="line2"><%= image_tag('why2-6.png') %><br>Не требуется доп.обслуживания.<br>Замена фильтров производится<br>самостоятельно</li>
    </ul>
  </div>
</section>
<section class="for">
  <div class="page" id="l9">
    <h3>Для каких помещений необходим бризер?</h3>
    <ul class="for">
      <li><span>Детская</span>Чистый воздух<br>без аллергенов, шума, пыли<br>и главное – сквозняков</li>
      <li class="alt"><span>Больницы, гостиницы,<br>детские сады и т.д.</span>Везде, где постоянно<br>нужен свежий и чистый<br>воздух без мучений<br>с открыванием окон</li>
      <li class="center"><span>Спальня</span>Свежий воздух –<br>залог хорошего<br>сна. Тишина,<br>покой и здоровый<br>отдых. </li>
      <li class="alt center"><span>Офисы</span>Свежий воздух<br>без  уличной<br>пыли и шума</li>
      <li><span>ГОстиная</span>Место максимального<br>скопления людей, где просто<br>необходим постоянный приток<br>свежего воздуха</li>
      <li class="alt"><span>Кухня</span>Долой неприятные запахи,<br>влажность и духоту.</li>
    </ul>
    <a class="btn btn_to btn_popup_2">Выбрать бризер<br>для Вашей квартиры</a>
  </div>
</section>
<section class="disease">
  <div class="page" id="filters">
    <h3>Как бризер защищает вас от болезней?</h3>
    <p>Поступающий с улицы воздух проходит тщательную очистку от пыли, грязи, аллергенов при помощи специальных медицинских фильтров</p>
    <ul class="disease">
      <li>
        <h5>Базовый фильтр тонкой очистки класса F7</h5>
        <%= image_tag('disease-1.jpg') %>
        <p>Эффективность по атмосферной<br>пыли 80% ≤ Еа &lt; 90%,<br>(класс F7) по ГОСТ Р 51251-99.</p>
        Задерживает пух, шерсть, копоть, крупные и средние частицы пыли и другие частицы, в том числе пыльцу растений, вызывающих поллиноз. Продлевает срок службы высокоэффективного HEPA-фильтра. Базовый фильтр F7 можно менять самостоятельно.<br>
        Замена требуется не чаще 1 раза в год при условии его периодической очистки (пылесосом).
      </li>
      <li>
        <h5>Высокоэффективный НЕРА-фильтр класса H11</h5>
        <%= image_tag('disease-2.jpg') %>
        <p>Фильтрация частиц и микроорганизмов по наиболее проникающим частицам с эффективностью &gt; 95%, класс H11(E11) по ГОСТ Р ЕН 1822-1-2010.</p>
        Медицинский стандарт очистки воздуха. Задерживает не только крупную и среднюю, но и мельчайшую высокоаллергенную пыль, пыльцу, инфекции, споры плесени и др. частицы и миркроорганизмы. Только HEPA задерживает опасные для здоровья частицы, фильтры меньшего класса их не улавливают. Не предназначен для очистки водой или пылесосом. Фильтр можно менять самостоятельно.<br>
        Частота замены – 1 раз в 2 года.
      </li>
      <li>
        <h5>Адсорбционно-каталитический фильтр</h5>
        <%= image_tag('disease-3.jpg') %>
        <p>Фильтр способен улавливать до 5 000 мг вредных веществ за время эксплуатации. Эффективность при производительности 30 м3/ч – не менее 90%; в режиме TURBO – не менее 75%.</p>
        Осуществляет очистку воздуха от выхлопных газов, промышленных выбросов до уровня соответствия нормам ПДК при концентрациях на входе до 5 ПДКсс. Не предназначен для очистки водой или пылесосом. Частота замены — 1 раз в год.
      </li>
    </ul>
    <h4>Лучший выбор для страдающих<br>аллергией, астмой и простудными заболеваниями!</h4>
    <a class="btn btn_blue btn_popup_3">Узнать больше о пользе бризера для вашего здоровья</a>
  </div>
</section>
<section class="sert">
  <div class="page" id="certificate">
    <h3>Сертификаты</h3>
    <div class=" jcarousel-skin-tango"><div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block;"><div class="jcarousel-clip jcarousel-clip-horizontal" style="position: relative;"><ul id="mycarousel" class="sert jcarousel-list jcarousel-list-horizontal" style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; width: 2940px;">
      <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal" jcarouselindex="1" style="float: left; list-style: none;"><a href=<%= image_path('cert_diler.jpg')%> class="fancybox" rel="gallery"><%= image_tag('zoom.png') %></a><%= image_tag('cert_diler.jpg', width: '225px', height: '325px') %></li>
      <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal" jcarouselindex="2" style="float: left; list-style: none;"><a href=<%= image_path('1(1).jpg')%> class="fancybox" rel="gallery"><%= image_tag('zoom.png') %></a><%= image_tag('1(1).jpg', width: '225px', height: '325px') %></li>
      <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal" jcarouselindex="3" style="float: left; list-style: none;"><a href=<%= image_path('2(1).jpg')%> class="fancybox" rel="gallery"><%= image_tag('zoom.png') %></a><%= image_tag('2(1).jpg', width: '225px', height: '325px') %></li>
      <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal" jcarouselindex="4" style="float: left; list-style: none;"><a href=<%= image_path('3(1).jpg')%> class="fancybox" rel="gallery"><%= image_tag('zoom.png') %></a><%= image_tag('3(1).jpg', width: '225px', height: '325px') %></li>
      <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal" jcarouselindex="5" style="float: left; list-style: none;"><a href=<%= image_path('4(1).jpg')%> class="fancybox" rel="gallery"><%= image_tag('zoom.png') %></a><%= image_tag('4(1).jpg', width: '225px', height: '325px') %></li>
      <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-5 jcarousel-item-5-horizontal" jcarouselindex="6" style="float: left; list-style: none;"><a href=<%= image_path('5(1).jpg')%> class="fancybox" rel="gallery"><%= image_tag('zoom.png') %></a><%= image_tag('5(1).jpg', width: '225px', height: '325px') %></li>
      <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-6 jcarousel-item-6-horizontal" jcarouselindex="7" style="float: left; list-style: none;"><a href=<%= image_path('6(1).jpg')%> class="fancybox" rel="gallery"><%= image_tag('zoom.png') %></a><%= image_tag('6(1).jpg', width: '225px', height: '325px') %></li>
      <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-7 jcarousel-item-7-horizontal" jcarouselindex="8" style="float: left; list-style: none;"><a href=<%= image_path('7(1).jpg')%> class="fancybox" rel="gallery"><%= image_tag('zoom.png') %></a><%= image_tag('7(1).jpg', width: '225px', height: '325px') %></li>
      <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-8 jcarousel-item-8-horizontal" jcarouselindex="9" style="float: left; list-style: none;"><a href=<%= image_path('8(1).jpg')%> class="fancybox" rel="gallery"><%= image_tag('zoom.png') %></a><%= image_tag('8(1).jpg', width: '225px', height: '325px') %></li>
      <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-9 jcarousel-item-9-horizontal" jcarouselindex="10" style="float: left; list-style: none;"><a href=<%= image_path('9(1).jpg')%> class="fancybox" rel="gallery"><%= image_tag('zoom.png') %></a><%= image_tag('9(1).jpg', width: '225px', height: '325px') %></li>
      <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-10 jcarousel-item-10-horizontal" jcarouselindex="11" style="float: left; list-style: none;"><a href=<%= image_path('10(1).jpg')%> class="fancybox" rel="gallery"><%= image_tag('zoom.png') %></a><%= image_tag('10(1).jpg', width: '225px', height: '325px') %></li>
    </ul></div><div class="jcarousel-prev jcarousel-prev-horizontal" style="display: block;"></div><div class="jcarousel-next jcarousel-next-horizontal" style="display: block;"></div></div></div>
  </div>
</section>
<section class="work">
  <div class="page" id="principe">
    <h3>Как устроен Бризер Tion O2 Standart?</h3>
    <p>Принцип работы Тион О2</p>
    <ul class="work work1">
      <li><span>1. Воздухозаборник</span>Воздухозаборник выполняет<br>декоративные функции и защищает<br>прибор от попадания внутрь дождевой<br>влаги и насекомых</li>
      <li><span>2. Канал воздуховода<br>с утеплителем</span>Служит герметичным каналом для<br>подачи наружного воздуха в прибор.<br>Внутри канала размещен вкладыш из<br>утеплителя, препятствующий<br>локальному промерзанию<br>конструкции стен, а также для<br>дополнительной шумоизоляции.</li>
    </ul>
    <ul class="work work2">
      <li><span>1. Воздушный клапан</span>Служит для предотвращения<br>попадания в помещение<br>наружного воздуха при<br>выключении прибора.</li>
      <li><span>4. Система управления</span>Управляет включением и<br>выключением вентилятора,<br>воздушным клапаном и<br>нагревателем.</li>
      <li><span>2. Фильтры очистки</span>Очищают поступающий<br>в помещение воздух от всех<br>типов загрязнителей: частицы,<br>микроорганизмы, вирусы,<br>плесневые грибы,<br>и вредные газы</li>
      <li><span>5. Нагреватель<br>с климат-контролем</span>Подогревает приточный<br>воздух в зимний период.<br>Климат-контроль системы<br>автоматически регулирует<br>мощность подогрева.</li>
      <li><span>3. Вентилятор</span>Служит для принудительной<br>подачи наружного воздуха<br>в помещение.</li>
      <li><span>6. Пульт ДУ</span>Пульт дистанционного<br>управления позволяет<br>размещать прибор на<br>любой высоте от пола.</li>
    </ul>
    <a class="btn btn_white btn_popup_4">Оставить заявку на бесплатный выезд менеджера</a>
  </div>
</section>
<section class="how">
  <div class="page" id="montazh">
    <h3>Как происходит монтаж бризера Tion O2 Standart?</h3>
    <ul class="how">
      <li>
				<span>Шаг 1.<br>
				Выбираем место</span>
        <%= image_tag('how-1.jpg') %>
        <p>Лучше всего устанавливать бризер рядом с окном из расчета 1 прибор на 1 комнату. Нужна стена, выходящая на улицу, и свободное пространство размером 50х50 см. За стеной лоджия? Не проблема. Бризер можно установить и в этом случае.</p>
        <a class="btn btn_popup_1">Получить консультацию специалиста<br>по установке бризера</a>
      </li>
      <li>
				<span>Шаг 2.<br>
				Монтаж</span>
        <%= image_tag('how-2.jpg') %>
        <p>Методом алмазного бурения в стене делается сквозной канал диаметром 132 мм. Канал тепло-шумоизолируется, снаружи устанавливается вентиляционная решетка. Никакой пыли, грязи и мусора.</p>
        <a class="btn btn_popup_1">Узнать стоимость монтажа</a>
      </li>
      <li>
				<span>Шаг 3.<br>
				Подключение</span>
        <%= image_tag('how-3.jpg') %>
        <p>Бризер фиксируется на стене и соединяется с воздухозаборным каналом. Бризер работает от обычной розетки в 220 В.</p>
        <a class="btn btn_popup_1">Заказать установку бризера</a>
      </li>
    </ul>
    <h3><span>Всего 90 минут,</span><br>и вы навсегда забудете про духоту, сквозняки<br>и открытые окна!</h3>
  </div>
</section>
<section class="kol">
  <div class="page">
    <h3>Сколько приборов вам нужно?</h3>
    <ul class="kol">
      <li><%= image_tag('kol-1.png') %><br>1 комната</li>
      <li><%= image_tag('kol-2.png') %><br>1 бризер</li>
    </ul>
    <a class="btn btn_to btn_popup_2">Заказать Бризер<br>Tion O<i>2</i> Standart</a>
  </div>
</section>
<section class="diler">
  <div class="page">
    <h3>АэроМонтаж – официальный дилер "Тион" в Новосибирске</h3>
    <ul class="diler">
      <li><div><p>Работаем<br>с 2009 года</p></div></li>
      <li><div><p>Гарантия<br>1 год</p></div></li>
      <li><div><p>Установка<br>бризера<br>в течение<br>48 часов</p></div></li>
      <li class="alt"><div><p>Более 7000<br>довольных<br>клиентов</p></div></li>
      <li class="alt"><div><p>Фильтры<br>в наличии</p></div></li>
    </ul>
    <a class="btn btn_white btn_popup_4">оставить заявку на бесплатный выезд специалиста</a>
  </div>
</section>
<section class="footer">
  <div class="page">
    <p><span>Остались вопросы?</span><br>
      Оставьте заявку – мы перезвоним вам<br>в течение 10 минут и расскажем подробнее про очистку воздуха<br>при помощи бризера!</p>
    <a class="btn btn_popup_5">Задать вопрос!</a>
  </div>
  <footer>
    <div class="page">

      <div class="logo"><%= image_tag('aeromontazh_logo.png', width: '410px') %></div>
      <div class="footer_info">
        <br>
        Система очистки воздуха<br>
        в Новосибирске и области
      </div>
      <div class="call">
        +7 (383) 239-59-58<br>
        <a class="btn btn_call">Заказать обратный звонок</a>
      </div>
    </div>
  </footer>
</section>

<!-- popup call-->
<div class="disabled">
  <div class="popup_call">
    <div class="popup_block">
      <div class="form">
        <p><span>Введите свои контактные данные</span><br>
          Мы свяжемся с вами в течение 20 минут и ответим на все интересующие вас вопросы об очистке воздуха при помощи системы "Tion"</p>
        <%= render 'partials/form' %>
      </div>
    </div>
  </div>
</div>

<!-- popup 1 -->
<div class="disabled">
  <div class="popup_1">
    <div class="popup_block">
      <div class="form">
        <p><span>Введите свои контактные данные</span><br>
          Мы свяжемся с вами в течение 20 минут и расскажем подробнее о том, как работает система очистки воздуха "Tion"</p>
        <%= render 'partials/form' %>
      </div>
    </div>
  </div>
</div>

<!-- popup 2 -->
<div class="disabled">
  <div class="popup_2">
    <div class="popup_block">
      <div class="form">
        <p><span>Введите свои контактные данные</span><br>
          Чтобы оставить заявку на покупку бризера или получить консультацию! Наш менеджер свяжется с Вами в течение 20 минут.</p>
        <%= render 'partials/form' %>
      </div>
    </div>
  </div>
</div>

<!-- popup 3 -->
<div class="disabled">
  <div class="popup_3">
    <div class="popup_block">
      <div class="form">
        <p><span>Введите свои контактные данные </span><br>
          Мы свяжемся с Вами в течение 20 минут и расскажем подробнее о том, чем полезен бризер и как он работает.</p>
        <%= render 'partials/form' %>
      </div>
    </div>
  </div>
</div>

<!-- popup 4 -->
<div class="disabled">
  <div class="popup_4">
    <div class="popup_block">
      <div class="form">
        <p><span>Введите свои контактные данные</span><br>
          Мы свяжемся с Вами в течение 20 минут, чтобы уточнить время приезда менеджера.</p>
        <%= render 'partials/form' %>
      </div>
    </div>
  </div>
</div>

<!-- popup 5 -->
<div class="disabled">
  <div class="popup_5">
    <div class="popup_block">
      <div class="form">
        <p><span>Введите свои контактные данные</span><br>
          Мы свяжемся с Вами в течение 20 минут и ответим на все интересующие Вас вопросы о бризере.</p>
        <%= render 'partials/form' %>
      </div>
    </div>
  </div>
</div>

<!-- popup true -->
<div class="disabled">
  <div class="popup_true">
    <div class="popup_block">
      <div class="form">
        <p><span>Спасибо за ваш заказ!</span><br>
          Наш менеджер перезвонит Вам в течение 20 минут, чтобы уточнить все необходимые детали.</p>
      </div>
    </div>
  </div>
</div>

<div class="disabled">
  <div class="popup_fail">
    <div class="popup_block">
      <div class="form">
        <p><span>Ошибка при отправке!</span><br>
          Попробуйте отправить заявку повторно или свяжитесь с нами по телефону +7 (383) 239-59-58.</p>
      </div>
    </div>
  </div>
</div>


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter31941081 = new Ya.Metrika({
          id:31941081,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
        });
      } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/31941081" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<%= javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>