
  <div class="ui segment main-container" style="margin-top: 70px;">
    <div class="ui horizontal divider main-header">
      Наши продукты и услуги
    </div>
    <br/>

    <div class="ui grid padding">
      <div class="ten wide column">
        <h2 class="ui header">Tion Бризер 3S</h2>
        <p class="ui left floated">Tion Бризер 3S — это компактная вентиляция для квартиры, дома и офиса. Он забирает воздух с улицы, подогревает, очищает его и подает в помещение. Бризер также может работать в режиме очистителя воздуха и фильтровать воздух внутри помещения. Высокий класс фильтрации, низкий уровень шума, удобное управление — с бризером воздух станет здоровым и комфортным. Монтаж занимает всего 1 час и не портит ремонт.</p>
        <%= link_to 'Узнать больше', brizer_index_path, :class => "ui blue basic button right floated" %>
      </div>
      <div class="one wide column"></div>
      <div class="three wide column">
        <%= image_tag('breezer3S_350_350.png') %>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid padding">
      <div class="three wide column">
        <%= image_tag('breez-320x320.png') %>
      </div>
      <div class="one wide column"></div>
      <div class="ten wide column">
        <h2 class="ui header">Бризер Tion O<sub>2</sub></h2>
        <p class="ui left floated">Бризер Tion O2 — это бытовая приточная вентиляция для квартиры, дома или офиса. Компактный бризер позволяет проветривать комнату при закрытых окнах, подавая в дом очищенный, подогретый до комфортной температуры, насыщенный кислородом воздух. Поможет забыть о проблемах из-за духоты или холода от проветриваний окном. Поможет аллергикам или астматикам, нужен если в семье есть маленькие дети. Монтаж Tion O2 занимает всего за 1 час и не портит ремонт.</p>
        <%= link_to 'Узнать больше', brizer_index_path, :class => "ui blue basic button right floated" %>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid padding">
      <div class="ten wide column">
        <h2 class="ui header">MagicAir</h2>
        <p class="ui left floated">Tion MagicAir — это система умного микроклимата. Компактный гаджет собирает данные о состоянии воздуха и дает команды бытовым климатическим устройствам (бризер, кондиционер, увлажнитель и т.п.). Вы следите за параметрами микроклимата и управляете ими со смартфона!</p>
        <%= link_to 'Узнать больше', magic_index_path, :class => "ui blue basic button right floated" %>
      </div>
      <div class="one wide column"></div>
      <div class="three wide column">
        <%= image_tag('ma6.jpg') %>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid padding">
      <div class="three wide column">
        <%= image_tag('CO2-main.jpg') %>
      </div>
      <div class="one wide column"></div>
      <div class="ten wide column">
        <h2 class="ui header">Модуль CO<sub>2</sub>+</h2>
        <p class="ui left floated">Расширяет и дополняет систему умного микроклимата Тион MagicAir. Базовая станция собирает данные о качестве воздуха только в комнате, где она установлена, и на их основе автоматически поддерживает заданные пользователем параметры. Модули СО2+ измеряет параметры микроклимата в других комнатах: уровень углекислого газа, температуру и влажность и передает их базовой станции. Таким образом, базовая станция может автоматически регулировать работу всех бризеров в доме.</p>
        <%= link_to 'Узнать больше', magic_index_path, :class => "ui blue basic button right floated" %>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid padding">
      <div class="three wide column">
        <%= image_tag('montage.png') %>
      </div>
      <div class="one wide column"></div>
      <div class="ten wide column">
        <h2 class="ui header">Монтаж бризера</h2>
        <p class="ui item right floated">Правильный монтаж — гарантия исправной работы прибора. Все наши монтажники имеют лицензию на установку бризера. Специалисты помогут Вам выбрать лучшее место для установки, а затем быстро, четко, без пыли и грязи выполнят комплекс работ по монтажу. Вам останется только послушать инструкцию и наслаждаться свежим воздухом.</p>
        <%= link_to 'Узнать больше', montage_index_path, :class => "ui blue basic button right floated" %>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid padding">
      <div class="ten wide column">
        <h2 class="ui header">Услуги алмазного бурения</h2>
        <p class="ui left floated">Мы производим бурение технологических отверстий в камне, кирпиче, бетоне, ФБС, асфальте, пеноблоках и других строительных материалах диаметром от 52 мм до 202 мм. Отверстия большего размера можно получить пробурив несколько отверстий. Обратившись к нам, Вы можете быть уверенны в высоком качестве конечного результата и исполнении работ точно в срок. Чтобы рассчитать приблизительную стоимость, нажмите кнопку ниже.</p>
        <%= link_to 'Узнать больше', almaznoe_burenie_index_path, :class => "ui blue basic button right floated" %>
      </div>
      <div class="one wide column"></div>
      <div class="three wide column">
        <%= image_tag('almaznoe.png') %>
      </div>
    </div>
  </div>

<%= javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

<script type="text/javascript">(function(w,doc) {
  if (!w.__utlWdgt ) {
    w.__utlWdgt = true;
    var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})(window,document);
</script>