<!DOCTYPE html>
<html>
<head>
  <title>АэроМонтаж - Система очистки воздуха в Новосибирске и области</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="top-link">

<div class="ui secondary pointing menu">
  <div class="ui container">
    <div class="item">
      <%= link_to image_tag('aeromontazh_logo.png'), root_path, :class => 'logo' %>
    </div>
    <%= link_to 'Главная', root_path, :class => active_class(root_path) %>
    <%= link_to 'Бризеры', brizer_index_path, :class => active_class(brizer_index_path) + ' browse' %>
    <%= link_to 'Magic Air', magic_index_path, :class => active_class(magic_index_path) %>
    <%= link_to 'Монтаж', montage_index_path, :class => active_class(montage_index_path) %>
    <!--<%= link_to 'Очистители', clever_index_path, :class => active_class(clever_index_path) %>-->
    <%= link_to 'Алмазное бурение', almaznoe_burenie_index_path, :class => active_class(almaznoe_burenie_index_path) %>
    <%= link_to 'Контакты', contact_index_path, :class => active_class(contact_index_path) %>
    <div class="item phone">
      <i class="phone icon"></i>
      +7 (383) 239-59-58
    </div>
  </div>
</div>
<div class="ui black big launch right attached fixed button" style="z-index: 1000; display: none;">
  <i class="content icon" onclick="$('.ui.sidebar').sidebar('toggle');"></i>
  <span class="text" onclick="$('.ui.sidebar').sidebar('toggle');">Меню</span>
  <div class="item phone">
    <i class="phone icon"></i>
    +7 (383) 239-59-58
  </div>
</div>
<div class="ui sidebar vertical menu" style="z-index: 1001;">
  <%= link_to 'Главная', root_path, :class => active_class(root_path) %>
  <%= link_to 'Бризеры', brizer_index_path, :class => active_class(brizer_index_path) + ' browse' %>
  <%= link_to 'Magic Air', magic_index_path, :class => active_class(magic_index_path) %>
  <%= link_to 'Монтаж', montage_index_path, :class => active_class(montage_index_path) %>
  <!--<%= link_to 'Очистители', clever_index_path, :class => active_class(clever_index_path) %>-->
  <%= link_to 'Алмазное бурение', almaznoe_burenie_index_path, :class => active_class(almaznoe_burenie_index_path) %>
  <%= link_to 'Контакты', contact_index_path, :class => active_class(contact_index_path) %>
  <div class="item phone">
    <i class="phone icon"></i>
    +7 (383) 239-59-58
  </div>
</div>
<div class="pusher">
  <div class="ui container">
    <%= yield %>
    <div class="ui segment footer-container">
      <div style="float: left; margin-top: 10px;" data-background-alpha="0.0" data-buttons-color="#ffffff" data-counter-background-color="#ffffff" data-share-counter-size="12" data-top-button="false" data-share-counter-type="disable" data-share-style="2" data-mode="share" data-like-text-enable="false" data-mobile-view="true" data-icon-color="#ffffff" data-orientation="horizontal" data-text-color="#000000" data-share-shape="round" data-sn-ids="fb.vk.tw.ok.gp." data-share-size="30" data-background-color="#ffffff" data-preview-mobile="false" data-mobile-sn-ids="fb.vk.tw.wh.ok.gp." data-pid="1416139" data-counter-background-alpha="1.0" data-following-enable="false" data-exclude-show-more="true" data-selection-enable="true" class="uptolike-buttons" ></div>
      <div class="footer-logo">
        <%= link_to image_tag('aeromontazh_logo.png'), root_path, :class => 'logo' %>
      </div>
      <div class="phone-footer"> +7 (383) 239-59-58 </div>
    </div>
    <br>
  </div>
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter31941081 = new Ya.Metrika({
          id:31941081,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
        });
      } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/31941081" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
